@charset "UTF-8";
/*Variabler*/
/*Mixin*/
/*Generel styling til mobil version*/
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0;
  font-family: "segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2c2c2c;
}
body p {
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: 600;
  color: #fff;
}

/*Skip to main content code snippet fra:https://www.a11y-collective.com/blog/skip-to-main-content/ */
.screen-reader-text {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}

.screen-reader-text:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

/*Navigations elementer*/
img {
  max-width: 100%;
  height: auto;
}

header {
  background-color: #008AE7;
  border-bottom: 4px solid #AFDFFF;
}

/*Navigation*/
nav {
  color: #000;
  height: 4em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 70px;
}
nav #bars {
  display: flex;
  border: none;
  background-color: transparent;
  font-size: 2.3em;
  color: #fff;
  cursor: pointer;
}
nav ul {
  display: none;
  height: auto;
  border-top: 4px solid #AFDFFF;
  flex-direction: column;
}
nav ul li {
  display: flex;
}
nav .show {
  display: flex;
  position: absolute;
  top: 80px;
  left: 0;
  padding: 0;
  background-color: #008AE7;
  width: 100%;
  z-index: 1;
}

/*Banner billede*/
.banner-img {
  background-image: url(../img/ChatGPT\ Image\ Apr\ 30\,\ 2026\ at\ 06_08_44\ PM.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 35vh;
  width: 100vw;
  margin-bottom: 1em;
}

/*Overskrift og tekst*/
.text {
  margin: 2em;
  text-align: center;
}
.text p {
  margin-top: 0.8em;
  margin-bottom: 2em;
}

.primary-btn {
  background-color: #A259FF;
  padding: 0.8em 1em;
  border-radius: 8px;
  color: #000;
  text-decoration: none;
  text-align: center;
}
.primary-btn:hover {
  background-color: #660066;
  transition: 0.3s ease-in-out;
  color: #fff;
}
.primary-btn {
  font-weight: bold;
}

/*Branching Scenario*/
.stage {
  background-image: url(../img/ChatGPT\ Image\ May\ 1\,\ 2026\ at\ 09_59_09\ AM.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 90vw;
  margin: 1em auto;
  border: 2px solid #fff;
  border-radius: 8px;
}
.stage h2 {
  position: absolute;
  top: 95%;
  font-size: 35px;
  margin: 1em;
  text-align: center;
  font-weight: bold;
}
.stage .btn {
  background-color: rgba(12, 137, 59, 0.4);
  padding: 1em 3em;
  border-radius: 8px;
  border: 2px solid #0C893B;
  text-decoration: none;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 120%;
  left: 33%;
  font-size: 20px;
  font-weight: bold;
}
.stage .btn:hover {
  background-color: rgba(12, 137, 57, 0.8);
  transition: 0.3s ease-in-out;
}

/*Kontaktform*/
.kontaktform {
  background-color: #A259FF;
  border-radius: 8px;
  padding: 0.8em;
  width: 80%;
  margin: 3em auto;
}
.kontaktform h2 {
  color: #000;
}
.kontaktform p {
  color: #000;
}
.kontaktform .section-form {
  display: flex;
  flex-direction: column;
}
.kontaktform input[type=text], .kontaktform input[type=email], .kontaktform input[type=tel], .kontaktform select, .kontaktform textarea {
  border: 2px solid #660066;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0.5em 0 1em 0;
  font-family: "segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.kontaktform input[type=text]::-moz-placeholder, .kontaktform input[type=email]::-moz-placeholder, .kontaktform input[type=tel]::-moz-placeholder, .kontaktform select::-moz-placeholder, .kontaktform textarea::-moz-placeholder {
  color: #660066;
}
.kontaktform input[type=text]::placeholder, .kontaktform input[type=email]::placeholder, .kontaktform input[type=tel]::placeholder, .kontaktform select::placeholder, .kontaktform textarea::placeholder {
  color: #660066;
}
.kontaktform input[type=submit] {
  background-color: #660066;
  padding: 0.8em 1em;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.kontaktform input[type=submit]:hover {
  background-color: #D52FD5;
  transition: 0.3s ease-in-out;
  color: #fff;
}
.kontaktform input[type=submit] {
  margin: 0;
  border: 0;
  font-weight: bold;
}
.kontaktform {
  /*Kode stykke af visually-hidden for kontaktformen er blevet hentet fra hjemmesiden https://www.a11y-collective.com/blog/visually-hidden/*/
}
.kontaktform .visually-hidden {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*Footer 1 med information*/
footer:nth-of-type(1) {
  background-color: #008AE7;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-container h3 {
  color: #000;
  margin: 10px;
  font-size: 24px;
}
.footer-container p {
  color: #000;
  margin: 4px 0;
}

.footer-left {
  color: #000;
}

.footer-right .footer-logo {
  width: 120px;
}

/*Footer 2 med navn på virksomheden*/
footer:nth-of-type(2) {
  background-color: #AFDFFF;
  text-align: center;
}
footer:nth-of-type(2) p {
  color: #000;
}

/*Tablet styling på banner billede*/
@media screen and (min-width: 768px) {
  .banner-img {
    height: 55vh;
  }
}
/*Desktop styling*/
@media screen and (min-width: 1024px) {
  /*Navigation*/
  nav #bars {
    display: none;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    border-top: 0;
  }
  nav a {
    color: #000;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }
  nav a:hover {
    color: #660066;
  }
  nav .aktiv {
    color: #660066;
  }
  /*Banner billede*/
  .banner-img {
    height: 80vh;
  }
  /*Overskrift og tekst med knap*/
  .text p {
    margin: 2em 10%;
    margin-bottom: 2em;
  }
  .text .primary-btn {
    background-color: #A259FF;
    padding: 1em 2em;
    border-radius: 8px;
    color: 0;
    text-decoration: none;
    text-align: center;
  }
  .text .primary-btn:hover {
    background-color: #660066;
    transition: 0.3s ease-in-out;
    color: #fff;
  }
  /*Branching Scenario*/
  .stage {
    width: 65vw;
    max-width: 700px;
    height: 80vh;
    margin: 3em auto;
    padding: 2em;
    border-radius: 20px;
    overflow: hidden;
    background-image: url("../img/ChatGPT Image May 1, 2026 at 09_59_09 AM.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    color: white;
  }
  .stage h2 {
    font-size: 3rem;
    margin-bottom: 0.5em;
  }
  .stage p {
    font-size: 1.2rem;
    margin-bottom: 2em;
  }
  .stage::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  .stage * {
    position: relative;
    z-index: 1;
  }
  .btn {
    width: 100%;
    padding: 18px 20px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.08);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  /*venstre side tekst i knap*/
  .left {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  /*ikon (billede) i knap*/
  .icon {
    width: 30px;
    height: 30px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  /*højre tekst i knap*/
  .status {
    opacity: 0.8;
    font-size: 0.9em;
  }
  .btn:hover {
    transform: scale(1.03);
    border-color: white;
  }
  /*usikkert røde knap*/
  .danger {
    background: rgba(255, 0, 0, 0.2);
    border-color: rgba(255, 0, 0, 0.6);
  }
  .danger:hover {
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
  }
  /*sikkert grøn knap*/
  .safe {
    background: rgba(0, 255, 100, 0.2);
    border-color: rgba(0, 255, 100, 0.6);
  }
  .safe:hover {
    box-shadow: 0 0 20px rgba(0, 255, 100, 0.6);
  }
  /*neutral blå knap*/
  .neutral {
    background: rgba(0, 150, 255, 0.2);
    border-color: rgba(0, 150, 255, 0.6);
  }
  .neutral:hover {
    box-shadow: 0 0 20px rgba(0, 150, 255, 0.6);
  }
  /*Kontaktform*/
  .kontaktform {
    width: 65%;
    margin: 4em auto;
    padding: 1.3em;
  }
  .kontaktform h2 {
    font-size: 25px;
    margin-bottom: 0;
    margin-left: 0.5em;
  }
  .kontaktform p {
    margin-left: 1em;
  }
  .kontaktform .section-form {
    flex-direction: row;
    gap: 1em;
  }
  input[type=text], input[type=email], input[type=tel], select, textarea {
    width: 100%;
    font-size: 15px;
    padding: 1em;
    box-sizing: border-box;
    margin: 0.5em 1em 1em 1em;
  }
  input[type=submit] {
    background-color: #A259FF;
    padding: 0.8em 1em;
    border-radius: 8px;
    color: 0;
    text-decoration: none;
    text-align: center;
  }
  input[type=submit]:hover {
    background-color: #660066;
    transition: 0.3s ease-in-out;
    color: #fff;
  }
  input[type=submit] {
    font-size: 15px;
    border: none;
    width: 100%;
    margin: 0 1em;
    cursor: pointer;
  }
}/*# sourceMappingURL=style.css.map */